<template>
    <div>
      <div>
        <NuxtLink
          :to="path"
          :class="{'nuxt-link-is-visible': isVisible}"
          class="block transition-all duration-500 hover:bg-gray-200 opacity-0 relative -left-4 text-sm p-4 text-gray-800 border-l-4 border-gray-50"
        >
          <i v-if="icon.length"
            :class="icon"
            class="mr-2 text-base"
          ></i>
          {{ text }}
        </NuxtLink>
      </div>
      <div
        v-if="submenu.length"
      >
        <NuxtLink
          v-for="item in submenu"
          :key="item.path"
          :to="item.path"
          :class="{'nuxt-link-is-visible': item.isSubmenuVisible}"
          class="block p-2 text-sm pl-12 transition-all duration-500 hover:bg-gray-200 opacity-0 relative -left-4 text-sm text-gray-800"
        >
          {{ item.name }}
        </NuxtLink>
      </div>
    </div>
    
</template>

<script>
export default {
  props: {
    index: {
      type: Number,
      required: true
    },
    submenu: {
      type: Array,
      required: true
    },
    path: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    isVisible: {
      type: Boolean,
      required: false,
      default: true
    },
    icon: {
      type: String,
      required: false,
      default: ''
    },
  },

  mounted() {
    this.submenu.forEach((el, i) => {
      setTimeout(() => {
        el.isSubmenuVisible = true
      }, 100 * (i + this.index + 1))
    }) 
  },
}
</script>

<style lang="scss">
  .nuxt-link-active {
    @apply bg-blue-100 border-blue-600;
    &:hover {
      @apply bg-blue-100;
    }
  }

  .nuxt-link-is-visible {
    @apply opacity-100 left-0;
  }
</style>