<template>
  <button
    :type="buttonType"
    :disabled="isDisabled"
    :class="[backgroundColor, textColor, buttonSize]"
    class="rounded disabled:opacity-80 flex-wrap content-center transition-colors duration-300"
  >
    <SharedLoadersBase
      v-if="isLoading"
      :buttonLayout="buttonLayout"
    />
    <span v-else>
      <i v-if="iconClass.length"
      :class="iconClass"></i>
      {{ buttonText }}
    </span>
  </button>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      required: false,
      default: "button" 
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    text: {
      type: String,
      required: false,
      default: ''
    },
    icon: {
      type: String,
      required: false,
      default: ''
    },
    layout: {
      type: String,
      required: false,
      default: 'default'
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    size: {
      type: String,
      required: false,
      default: ''
    }
  },
  
  data() {
    return {
      buttonType: this.type,
      buttonText: this.text,
      isDisabled: this.disabled,
      iconClass: this.icon,
      buttonLayout: this.layout,
      backgroundColor: '',
      textColor: '',
      buttonSize: '',
      isLoading: this.loading
    }
  },

  watch: {
    loading(newValue) {
      this.isLoading = newValue
    },
    text(newValue) {
      this.buttonText = newValue
    },
    disabled(newValue, _) {
      this.isDisabled = newValue
    }
  },

  methods: {
    setLayout() {
      switch (this.buttonLayout) {
        case 'light':
          this.backgroundColor = 'bg-blue-100 hover:bg-blue-200'
          this.textColor = 'text-blue-600'
          break;
              
        default:
          this.backgroundColor = 'bg-blue-600 hover:bg-blue-700'
          this.textColor = 'text-gray-100'
          break;
      }
    },

    setSize() {
      switch (this.size) {
        case 'sm':
          this.buttonSize = 'py-1 px-2 text-xs'
          break;
      
        default:
          this.buttonSize = 'py-2 px-4 text-sm'
          break;
      }
    }
  },

  mounted() {
    this.setLayout()
    this.setSize()
  },

}
</script>