<template>
  <div class="mt-1 mb-4 relative rounded-md">
    <input
      :name="name"
      :value="value"
      :placeholder="placeholder"
      :type="type"
      :disabled="disabled"
      @input="$emit('input', $event.target.value)"
      class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
    />
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    type: {
      type: String,
      required: false,
      default: "text" 
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>