<template>
  <label class="block text-sm font-medium text-gray-700">{{ text }}</label>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>