<template>
  <div class="m-4">
    <SharedUICard v-if="!isLoading">
      <template #header>
        <div class="flex items-center">
          <div class="grow w-full">
            <h1 class="text-xl font-bold">
              Last IP logs
            </h1>
          </div>
          <div class="flex-none">
            <SharedFormButton
              :text="'Add Log'"
              :icon="'fal fa-layer-plus'"
              @click.native="addIPToCheck"
            />
          </div>
        </div>
      </template>
      <div class="grid grid-cols-8 p-4 text-lg bg-gray-50">
        <div>
          IP Address
        </div>
        <div>
          Date
        </div>
        <div class="col-span-2">
          Country
        </div>
        <div>
          City
        </div>
        <div>
          Longitude
        </div>
        <div>
          Latitude
        </div>
      </div>
      <IpLogsRow
        v-for="log in logs.items"
        :key="log.id"
        :log="log"
        @click-update="displayUpdateLog"
        @click-delete="displayDeleteLog"
        @click-details="displayLogDetails"
      />
      <template #footer>
        <div>
          <SharedUIPagination
            :pagination="pagination"
            @pagination-clicked="fetchLogs"
          />
        </div>
      </template>
    </SharedUICard>
    <SharedLoadersCard v-else />
    <Portal to='modal'>
      <SharedUIModal 
        v-if="isIPModalVisible"
        :title="modalTitle"
        @close-modal="isIPModalVisible = false"
      >
        <UserIP
          :ipAddress="ipToCheck"
          :logId="logId"
          :isDelete="isDelete"
          @ip-data="displayData"
          @delete-log="deleteLog"
          @close-modal="isIPModalVisible = false"
          ref="ipInput"
        />
      </SharedUIModal>
      <SharedUIModal 
        v-if="isLogDetailsModalVisible"
        :title="'Ip log details'"
        @close-modal="isLogDetailsModalVisible = false"
      >
        <div class="px-4">
          <h2 class="text-xl font-normal border-b border-dashed border-black pb-2 mb-2">
            IP Address: <strong class="font-bold">{{logData.ip}}</strong> <span class="ml-4 text-sm">type: {{logData.type}}</span>
          </h2>
          <h3 class="text-lg font-bold">
            {{ logData.location.countryFlagEmoji }}
            Location:
          </h3>
          <div class="grid grid-cols-2">
            <div>
              <span class="text-sm text-gray-400">Continent:</span> {{logData.continentName}}<br />
              <span class="text-sm text-gray-400">Country:</span> {{logData.countryName}}<br />
            </div>
            <div>
              <span class="text-sm text-gray-400">City:</span> {{logData.city}} <span v-if="logData.zip">(zip: {{logData.zip}})</span><br />
              <span class="text-sm text-gray-400">Region name:</span> {{logData.regionName}}<br />
            </div>
          </div>
          <div
            class="map-image"
            :style="{backgroundImage: `url(https://api.mapbox.com/styles/v1/mapbox/light-v10/static/${logData.longitude},${logData.latitude},15/500x300?access_token=pk.eyJ1Ijoic3RhbWkiLCJhIjoiY2lteGMwZnZ5MDBkeXZwbTFpMTN6MnptYSJ9.3SZd6xQlHEpd7_bYhcW5MA)`}"
          >
          <i class="map-indicator fa-solid fa-bullseye"></i>
          </div>          
        </div>
      </SharedUIModal>
    </Portal>
  </div>
</template>

<script>
import { reactive, ref, useContext, useRoute } from '@nuxtjs/composition-api'
export default {
  
  setup() {
    const logs = reactive({
      items: []
    })
    const { $axios, $toast } = useContext()
    const route = useRoute()
    const modalTitle = ref('Add IP to Check')
    const isLoading = ref(false)
    const isDelete = ref(false)
    const pagination = ref()
    const logId = ref(null)
    const ipToCheck = ref(null)
    const url = ref('')
    const isIPModalVisible = ref(false)
    const isLogDetailsModalVisible = ref(false)
    const addNew = ref(false)
    const logData = ref(null)

    function getPagination() {
      const page = route.value.query.page || null

      if (page !== null) {
        return `?page=${page}`
      }
      return ''
    }

    async function fetchLogs(paginationParams = null) {
      isLoading.value = true
      if (paginationParams !== null) {
        url.value = `/ips/logs/${paginationParams}`
      } else {
        url.value = `/ips/logs/${getPagination()}`
      }
      try {
        const res = await $axios.get(url.value)
        if (res.status === 200) {
          const results = res.data.results
          pagination.value = res.data.pagination
          logs.items = results
        }
      } catch(err) {
        console.log(err)  // TODO: error handle for this component
      }
      isLoading.value = false
    }

    function displayData (IPData) {
      if (!addNew.value) {
        // Update record
        const logIndex = logs.items.findIndex((obj => obj.id === IPData.id))
        logs.items[logIndex].ip = IPData.ip 
        logs.items[logIndex].city = IPData.city 
        logs.items[logIndex].continentName = IPData.continentName 
        logs.items[logIndex].countryName = IPData.countryName 
        logs.items[logIndex].latitude = IPData.latitude 
        logs.items[logIndex].longitude = IPData.longitude 
        logs.items[logIndex].location = IPData.location
        logs.items[logIndex].regionName = IPData.regionName
        logs.items[logIndex].type = IPData.type
        logs.items[logIndex].zip = IPData.zip
        $toast.success('IP Data Updated')
      } else {
        if (pagination.value.currentPage === 1 || pagination.value.currentPage === '1') {
          // Update logs list if admin is on 1st page
          logs.items.unshift(IPData)
          logs.items.pop()
        } else {
          // Only display info. Log is added on first page
          $toast.success('IP Data added to logs. See first page')
        }
      }
    }

    function deleteLog(logId) {
      const logIndex = logs.items.findIndex((obj => obj.id === logId))
      logs.items.splice(logIndex, 1)
    }

    function displayLogDetails(log) {
      logData.value = log
      console.log(logData.value)
      isLogDetailsModalVisible.value = true
    }

    function addIPToCheck() {
      ipToCheck.value = ''
      isDelete.value = false
      addNew.value = true
      modalTitle.value = 'Add IP to Check'
      isIPModalVisible.value = true
    }

    function displayUpdateLog(logToUpdate) {
      modalTitle.value = 'Update Log data'
      isDelete.value = false
      addNew.value = false
      ipToCheck.value = logToUpdate.ip
      logId.value = logToUpdate.id
      isIPModalVisible.value = true
    }
    
    function displayDeleteLog(logToUpdate) {
      modalTitle.value = 'Are you sure you want to delete this log?'
      isDelete.value = true
      ipToCheck.value = logToUpdate.ip
      logId.value = logToUpdate.id
      isIPModalVisible.value = true
    }

    return {
      logs,
      logData,
      isLoading,
      pagination,
      modalTitle,
      isIPModalVisible,
      isLogDetailsModalVisible,
      ipToCheck,
      logId,
      isDelete,
      fetchLogs,
      displayData,
      addIPToCheck,
      displayUpdateLog,
      displayDeleteLog,
      deleteLog,
      displayLogDetails
    }
  },

  mounted() {
    this.fetchLogs()
  }
}
</script>

<style lang="scss">
  .map-image {
    width: 500px;
    height: 300px;
    @apply shadow bg-cover relative my-2 rounded overflow-hidden;

    .map-indicator {
      top: 130px;
      left: 230px;
      @apply absolute text-3xl text-red-500
    }
  }
</style>