<template>
  <div class="grid grid-cols-8 text-sm px-2 py-4 border-b">
    <div>
      {{ log.location.countryFlagEmoji }}
      <strong class="text-bold ml-4">{{ log.ip }}</strong>
    </div>
    <div>
      {{ $dayjs(log.createdAt).format($config.dateTimeFormat) }}
    </div>
    <div class="col-span-2">
      <SharedUIBadge
        :text="log.continentName"
      />
      {{ log.countryName }}
    </div>
    <div>
      {{ log.city }}
    </div>
    <div>
      {{ log.longitude.substring(0,10) }}
    </div>
    <div>
      {{ log.latitude.substring(0,10) }}
    </div>
    <div>
      <SharedFormButton 
        :text="'Details'"
        :size="'sm'"
        @click.native="$emit('click-details', log)"
      />
      <SharedFormButton 
        :text="'Update'"
        :size="'sm'"
        @click.native="$emit('click-update', log)"
      />
      <SharedFormButton 
        :text="'Delete'"
        :size="'sm'"
        @click.native="$emit('click-delete', log)"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    log: {
      type: Object,
      required: true
    }
  }

  
}
</script>