<template>
  <div class="fixed w-full top-0 font-mono text-lg bg-red-600 text-white z-50 shadow-lg">
      <div class="p-4 flex items-center">
        <div class="hidden md:visible md:flex w-8 h-8 bg-red-800 items-center justify-center mr-4 rounded-md">
          <i class="fal fa-exclamation text-white"></i>
        </div>
        <div class="flex-grow">
          {{ errorMessage }}
        </div>
        <div>
          <button
            v-tooltip="'Zgłoś błąd'"
            @click="showErrorModal"
          >
            <i class="fal fa-comment-exclamation"></i>
          </button>
          <button
            @click="closeError"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <Portal to='modal'>
        <SharedUIModal 
          v-if="isErrorModalVisible"
          :title="'Zgłoś błąd'"
          @close-modal="isErrorModalVisible = false"
        >
          <form
            @submit.prevent="sendError"
          >
            <div class="px-4 max-w-3xl">
              <SharedUIInfoBox>
                  Zgłoś błąd jeśli masz problem i nie wiesz o co chodzi. Nasi informatycy zajmą się zgłoszeniem i odpowiedzą najszybciej jak to możliwe.
              </SharedUIInfoBox>
              <div class="flex gap-4 mb-4">
                <div class="bg-red-100 border border-red-200 p-2 text-sm rounded">
                  Kod błędu
                  <span class="block text-center w-full text-2xl">{{ errorCode }}</span>
                </div>
                <div class="flex-grow bg-red-100 border border-red-200 p-2 text-sm rounded">
                  Komunikat:
                  <span class="block w-full text-sm italic pt-2">{{ errorMessage }}</span>
                </div>
                <div class="flex-grow bg-red-100 border border-red-200 p-2 text-sm rounded">
                  Strona:
                  <span class="block w-full text-sm italic pt-2">{{ pageUrl }}</span>
                </div>
              </div>
              <div>
                  <SharedFormLabel
                    text="Email"
                  />
                  <SharedFormInputText
                    v-model="newError.userEmail"
                    :name="'email'"
                    :placeholder="'you@example.com'"
                    ref="email"
                  />
                  <SharedFormLabel
                    text="Dodatkowe informacje"
                  />
                  <SharedFormTextarea
                    v-model="newError.additionalInfo"
                    :name="'additional-info'"
                    :placeholder="'Podaj opcjonalną dodatkową wiadomość dla informatyków'"
                    ref="additional-info"
                  />
              </div>
            </div>
            <div class="footer">
              <SharedFormButton
                text="Anuluj"
                class="mr-2"
                :layout="'light'"
                @click.native="isErrorModalVisible = false"
              />
              <SharedFormButton
                text="Wyślij"
                type="submit"
                :loading="isLoading"
              />
            </div>
          </form>
        </SharedUIModal>
      </Portal>
    </div>
</template>

<script>
import { ref, useStore, useRoute, computed, reactive } from '@nuxtjs/composition-api'

export default {
  props: {
    errorCode: {
      type: Number,
      required: true
    },
    errorMessage: {
      type: String,
      required: true
    }
  },

  setup (props, context) {
    const store = useStore()
    const route = useRoute()
    const isErrorModalVisible = ref(false)
    const isLoading = ref(false)
    const newError = reactive({
      errorCode: props.errorCode,
      errorMessage: props.errorMessage,
      userEmail: context.auth?.user?.email || undefined
    })

    const pageUrl = computed(() => {
      return route.value.fullPath
    })

    function sendError() {
      console.log(newError)
    }

    function closeError() {
      store.commit('errorhandle/setCode', undefined)
      store.commit('errorhandle/setMessage', undefined)
    }

    function showErrorModal() {
      isErrorModalVisible.value = true
    }


    return {
      isErrorModalVisible,
      pageUrl,
      newError,
      isLoading,
      showErrorModal,
      closeError,
      sendError,
    }
  }
}
</script>