<template>
  <div class="flex items-center bg-gray-50 h-16 border-b border-gray-200">
    <div class="flex-none w-64 p-4">
      Welcome: {{userEmail}}
    </div>
    <div class="flex-grow grid justify-items-end pr-4">
      <SharedFormButton
        v-tooltip="'Logout'"
        @click.native="logout"
        :icon="'fal fa-sign-out'"
      />
    </div>
  </div>
</template>

<script>
import { ref, useContext } from '@nuxtjs/composition-api'

export default {

  setup () {
    const { $auth }  = useContext()
    const userEmail = ref($auth.user.email)

    function logout() {
      $auth.logout()
      $auth.redirect('login')
    }

    return {
      logout,
      userEmail
    }
  }
  
  
}
</script>