<template>
  <div>
    <div class="m-4">
      <h2 class="text-2xl leading-7 font-semibold">{{ title }}</h2>
      <div class="my-4 bg-gray-50 rounded p-8">
        <div class="text-4xl text-center">
          <input
            :value="clientIp"
            :disabled="isDelete"
            @keyup="IPValidation($event.target.value)"
            type="text"
          >
        </div>
        <div
          v-if="clientIpData.id"
          class="m-4"
        > 
          <div class="flex items-center justify-start border-t border-dashed pt-8">
            <div>
              <img 
                class="w-12 shadow"
                :src="clientIpData.countryFlag"
              >
            </div>
            <div class="font-bold pl-4">
              {{clientIpData.city}} {{clientIpData.zip}} -  {{clientIpData.countryName}}
            </div>
          </div>
          <img
            :src="clientIpData.mapImg"
            class="w-full shadow my-4"
          />
        </div>
      </div>
      <div v-if="!isDelete">
        <SharedFormButton
          v-if="!clientIpData.id"
          text="Get IP info"
          type="button"
          class="w-full text-2xl p-8 font-light"
          @click.native="getIPData(clientIp)"
          :loading="isLoading"
          :disabled="!isValidIP"
        />
      </div>
      <div v-else>
        <SharedFormButton
          text="Cancel"
          type="button"
          class="p-8 font-light"
          :layout="'light'"
          @click.native="$emit('close-modal')"
        />
        <SharedFormButton
          text="Confirm"
          type="button"
          class="p-8 font-light"
          :loading="isLoading"
          @click.native="deleteLog(logId)"
        />
      </div>
    </div>
    <div
      v-if="errorGettingIP"
    >
      Ups! We wasn't able to get your IP :(
    </div>
  </div>
</template>

<script>
import { ref, reactive, useContext } from '@nuxtjs/composition-api'

export default {
  props: {
    ipAddress: {
      type: String,
      required: false,
      default: "..."
    },
    logId: {
      type: String || null,
      required: false,
      default: null
    },
    title: {
      type: String,
      required: false,
      default: ""
    },
    isDelete: {
      type: Boolean,
      required: false,
      default: false
    },
    
  },
  
  setup(props, context) {
    const { $axios, $toast } = useContext()
    const clientIp = ref(props.ipAddress)
    const clientLogId = ref(props.logId)
    const isValidIP = ref(false)
    const isLoading = ref(false)
    const errorGettingIP = ref(false)
    const clientIpData = reactive({
      id: null,
      ip: null,
      type: null,
      continentName: null,
      countryName: null,
      regionName: null,
      city: null,
      zip: null,
      longitude: null,
      latitude: null,
      countryFlag: null,
      mapImg: null,
      location: null
    })

    function updateIPData (data) {
      clientIpData.id = data.id,
      clientIpData.ip = data.ip,
      clientIpData.type = data.type,
      clientIpData.continentName = data.continentName,
      clientIpData.countryName = data.countryName,
      clientIpData.regionName = data.regionName,
      clientIpData.city = data.city,
      clientIpData.zip = data.zip,
      clientIpData.longitude = data.longitude,
      clientIpData.latitude = data.latitude,
      clientIpData.countryFlag = data.location.countryFlag
      clientIpData.mapImg = `https://api.mapbox.com/styles/v1/mapbox/light-v10/static/${data.longitude},${data.latitude},15/500x300?access_token=pk.eyJ1Ijoic3RhbWkiLCJhIjoiY2lteGMwZnZ5MDBkeXZwbTFpMTN6MnptYSJ9.3SZd6xQlHEpd7_bYhcW5MA`
      clientIpData.location = data.location
      
      context.emit('ip-data', clientIpData)
    }

    async function deleteLog() {
      isLoading.value = true

      try {
        const res = await $axios.delete(`/ips/logs/${clientLogId.value}/`)
        if (res.status === 204) {
          context.emit('delete-log', clientLogId.value)
        }
        $toast.success('Log deleted')
      } catch(err) {
      }
      context.emit('close-modal')
      isLoading.value = false
    }

    async function getIPData(ip) {
      try {
        isLoading.value = true

        if (!clientLogId.value) {
          // Create new log
          const res = await $axios.post(`/ips/get-data/`, {"ip": ip})
          if (res.status === 200) {
            updateIPData(res.data)
          }
        } else {
          // Update log
          const res = await $axios.put(`/ips/get-data/${clientLogId.value}/`, {"ip": ip})
          if (res.status === 200) {
            updateIPData(res.data)
          }
        }

      } catch(err) {
        context.emit('close-modal')
      }
      isLoading.value = false
    }

    async function getIP() {
      try {
        const url = "https://api.ipify.org/?format=json";
        const options = {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json;charset=UTF-8",
          },
        };
        fetch(url, options)
          .then((response) => response.json())
          .then((data) => {
            clientIp.value = data.ip
            IPValidation(clientIp.value)
          });
      } catch(err) {
        errorGettingIP.value = true
      }
    }

    function IPValidation(ipToCheck) {
      clientIp.value = ipToCheck
      const ipv46Regex = /(?:^(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}$)|(?:^(?:(?:[a-fA-F\d]{1,4}:){7}(?:[a-fA-F\d]{1,4}|:)|(?:[a-fA-F\d]{1,4}:){6}(?:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|:[a-fA-F\d]{1,4}|:)|(?:[a-fA-F\d]{1,4}:){5}(?::(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,2}|:)|(?:[a-fA-F\d]{1,4}:){4}(?:(?::[a-fA-F\d]{1,4}){0,1}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,3}|:)|(?:[a-fA-F\d]{1,4}:){3}(?:(?::[a-fA-F\d]{1,4}){0,2}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,4}|:)|(?:[a-fA-F\d]{1,4}:){2}(?:(?::[a-fA-F\d]{1,4}){0,3}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,5}|:)|(?:[a-fA-F\d]{1,4}:){1}(?:(?::[a-fA-F\d]{1,4}){0,4}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,6}|:)|(?::(?:(?::[a-fA-F\d]{1,4}){0,5}:(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}|(?::[a-fA-F\d]{1,4}){1,7}|:)))(?:%[0-9a-zA-Z]{1,})?$)/gm
      if (ipv46Regex.test(ipToCheck)) {
        isValidIP.value = true
      } else {
        isValidIP.value = false
      }
    }

    return {
      isValidIP,
      clientLogId,
      clientIp,
      clientIpData,
      errorGettingIP,
      isLoading,
      getIP,
      getIPData,
      IPValidation,
      deleteLog
    }
  },

  mounted() {
    if (this.clientIp === '...') {
      this.getIP()
    }
  },
}
</script>