<template>
  <span
    :class="[badgeType]"
    class="px-1 py-0 mr-1 inline-block text-sm text-white shadow-sm rounded">{{ badgeText }}
  </span>
</template>

<script>
import { ref, computed, watch } from '@nuxtjs/composition-api'

export default {
  props: {
    text: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: false,
      default: 'info'
    }
  },

  setup(props) {
    const badgeText = ref(props.text)

    watch(
      () => props.text, (newValue, _) => {
        badgeText.value = newValue
      }
    )

    const badgeType = computed (() => {
      switch (props.type) {
        case 'warning':
          return 'bg-red-800'

        case 'secondary':
          return 'bg-gray-400'

        default:
          return 'bg-blue-600'
      }
    })

    return {
      badgeText,
      badgeType
    }
  }
}
</script>