<template>
  <div class="bg-white shadow rounded overflow-hidden inline-block w-full base-card">
    <div
      v-if="$slots.header"
      class="p-2 bg-gray-100 font-sans font-light text-xl"
    >
      <slot name="header"></slot>
    </div>

    <div class="p-2">
      <slot></slot>
    </div>
    
    <div 
      v-if="$slots.footer"
      class="p-2 bg-gray-100">
      <slot name="footer"></slot>
    </div>
  </div>
</template>
