<template>
  <div>
    <div
      class="fixed z-50 inset-0 bg-black bg-opacity-80 min-h-screen opacity-0 transition-opacity duration-300 ease-in-out"
      :class="{'is-visible': isVisible, 'is-hidden': !isVisible}"
      @keydown.esc="closeModal"
    >
      <div class="flex h-screen justify-center items-center transition-all">
          <div class="inline-block m-auto">
            <div class="relative bg-white shadow-2xl rounded max-w-4xl overflow-hidden">
              <h1 class="p-4 text-xl font-sans font-bold text-gray-800">{{ modalTitle }}</h1>
              <SharedFormButton
                :icon="'fal fa-times'"
                :layout="'light'"
                :size="'sm'"
                class="absolute top-2 right-2 rounded-full shadow"
                @click.native="closeModal"
              />
              <slot></slot>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from '@nuxtjs/composition-api'

export default {
  props: {
    title: {
      type: String,
      required: true
    }
  },

  setup(props, context) {
    const isVisible = ref(false)
    const modalTitle = ref(props.title)

    function closeModal() {
      this.isVisible = false
      setTimeout(() => {
        context.emit('close-modal')
      }, 300)
    }    
    return {
      isVisible,
      modalTitle,
      closeModal,
    }
  },

  mounted() {
    setTimeout(() => {
      this.isVisible = true
    }, 1)
    
    document.addEventListener("keydown", (e) => {
        if (e.key === 'Escape') {
            this.closeModal()
        }
    })
  }
}
</script>

<style lang="scss" scoped>
  .is-visible {
    opacity: 1;
    .modal-container__inner {
      // transform: scale(1);
      @apply transform scale-100 opacity-100;
    }
  }
  .is-hidden {
    opacity: 0;
    .modal-container__inner {
      @apply transform scale-75 opacity-0;
    }
  }
  .footer {
    @apply py-2 px-4 bg-gray-100 flex justify-end
  }  
</style>
