<template>
  <div>
    <div v-if="pagination">
      <SharedFormButton
        :icon="'fal fa-chevron-left'"
        :layout="'light'"
        :disabled="config.links.previousUrl === null"
        @click.native="createPaginationData('previous')"
      />
      <SharedFormButton
        v-for="page in config.links.pageLinks"
        :key="page[1]"
        :text="page[1].toString()"
        :layout="'light'"
        :class="{'nuxt-link-active': page[2]}"
        class="mx-0.5"
        @click.native="createPaginationData(page[1])"
      />
      <SharedFormButton
        :icon="'fal fa-chevron-right'"
        :layout="'light'"
        :disabled="config.links.nextUrl === null"
        @click.native="createPaginationData('next')"
      />
    </div>
  </div>
</template>

<script>
import { ref, watch } from '@nuxtjs/composition-api'

export default {
  props: {
    pagination: {
      reqired: true,
      type: Object,
    },
  },
  
  setup(props, context) {
    const isLoading = ref(false)
    const config = ref(props.pagination)

    watch(
      () => props.pagination, (newValue, _) => {
        config.value = newValue
        isLoading.value = false
      },
    )

    function createPaginationData(type = 'next') {
      if (isLoading.value) {
        // Prevent double click
        return
      }
      isLoading.value = true
      let url = null
      let paginationParams = null
      if (Number.isInteger(type)) {
        paginationParams = `?page=${parseInt(type)}`
      } else  {
        url = type === 'next' ? config.value.links.nextUrl : config.value.links.previousUrl
        const urlParams = new URLSearchParams(new URL(url).search);
        const page = urlParams.get('page')
        paginationParams = page !== null ? `?page=${parseInt(page)}` : ''
      }
      
      context.emit('pagination-clicked', paginationParams)
      this.$router.push(`${paginationParams}`)
      
    }

    return {
      config,
      isLoading,
      createPaginationData      
    }

  }
}
</script>
