<template>
  <span 
    :class="{'active': status, 'inactive': !status}"
    class="inline-block w-3 h-3 rounded-full ring-2 mr-2 transition-colors duration-500"
  ></span>
</template>

<script>
// import { ref } from '@nuxtjs/composition-api';

export default {
  props: ['status']
}
</script>

<style lang="scss">
  .inactive {
    @apply bg-gray-400 ring-gray-200
  }
  .active {
    @apply bg-green-400 ring-green-200
  }
</style>