<template>
  <div
    class="lds-dual-ring-base"
    :class="[className]"
  ></div>
</template>

<script>
import { ref } from '@nuxtjs/composition-api'

export default {
  props: {
    buttonLayout: {
      type: String,
      required: false,
      default: 'default'
    }
  },

  setup(props) {
    const className = ref(props.buttonLayout)

    return {
      className,
    }
  },



}
</script>

<style lang="scss">
.lds-dual-ring-base {
  @apply inline-block w-4 h-4;
  &:after {
    content: " ";
    animation: lds-dual-ring 1.2s linear infinite;
    @apply block w-4 h-4 mt-0.5 rounded-full;
  }
  &.light {
    &:after {
      @apply border border-solid border-black;
      border-color: #000 transparent #000 transparent;
    }
  }
  &.default {
    &:after {
      border: 1px solid #fff;
      border-color: #fff transparent #fff transparent;
    }
  }
}



@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>