<template>
  <div class="flex flex-wrap justify-center content-center h-48 w-full">
    <div>
      <div class="lds-dual-ring"></div>
      <div class="font-sans text-sm">Wczytuję dane...</div>
    </div>
  </div>
</template>

<style lang="css">
.lds-dual-ring {
  @apply block w-16 h-16 mx-auto mb-4;
}
.lds-dual-ring:after {
  content: " ";
  @apply block w-16 h-16 border border-gray-400 rounded-full;
  border-color: transparent rgb(77, 77, 77) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>