.error-field {
  @apply border-red-300 text-red-900 placeholder-red-300;
}

// Page and layout transition
.default-enter-active,
.default-leave-active {
  @apply relative transition-all duration-300;
}
.default-enter,
.default-leave-to {
  @apply opacity-0;
}

// Base UI elements format
ul {
  @apply list-disc ml-6 mt-2 mb-2;
}
ol {
  @apply list-decimal ml-6 mt-2 mb-2;
}

// Modificators {
.toasted-container {
  &.top-left,
  &.top-center,
  &.top-right {
    top: 0 !important;
  }
  &.top-right {
    right: 1rem !important;
  }
  &.top-left {
    left: 1rem !important;
  }
}
