<template>
  <div>
    <div v-if="$auth.user" class="flex items-start">
      <div class="flex-grow relative bg-white min-h-screen">
        <LazyTopBar v-if="$auth.user" />
        <div>
          <Nuxt />
        </div>
      </div>
    </div>
    <ErrorReport
      v-if="errorCode"
      :errorCode="errorCode"
      :errorMessage="errorMessage"
    />
    <PortalTarget name="modal" />
  </div>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'

export default {
  setup () {
    const store = useStore()
    const errorCode = computed(() => {
      return store.getters['errorhandle/getErrorCode']
    })
    const errorMessage = computed(() => {
      return store.getters['errorhandle/getErrorMessage']
    })

    return {
      errorCode,
      errorMessage
    }
  }
}
</script>