<template>
  <div class="p-4 pt-16 min-h-full w-full"> 
    <h1 class="text-8xl font-bold text-blue-800">Ups!</h1>
    <p class="my-4 text-xl font-bold">Coś poszło nie tak.</p>
    <p>Pracujemy nad tym i naprawimy to tak szybko jak to tylko możliwe.</p>
    <p>Skontaktuj się z naszym działem pomocy</p>
    <SharedFormButton
      text="Strona główna"
      isLoading="false"
      class="mt-4"
      @click="goHome"
    />
  </div>
</template>

<script>
  import { useRouter } from '@nuxtjs/composition-api'

  export default {
    props: ['error'],
    layout: 'error',

    
    setup () {
      const router = useRouter()

      function goHome() {
        router.push("/")
      }

      return {
        goHome
      }
    }
  }

</script>