<template>
  <div>
    <div class="mx-auto relative flex items-top justify-center min-h-screen bg-white sm:items-center sm:pt-0">
      <div class="w-1/2">
        <Nuxt />
      </div>
      <div class="w-1/2">
        <UserIP
          :title="'Your IP Address is:'"
        />
      </div>
    </div>
    <ErrorReport
      v-if="errorCode"
      :errorCode="errorCode"
      :errorMessage="errorMessage"
    />
    <PortalTarget name="modal" />
  </div>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'

export default {
  setup () {
    const store = useStore()
    const errorCode = computed(() => {
      return store.getters['errorhandle/getErrorCode']
    })
    const errorMessage = computed(() => {
      return store.getters['errorhandle/getErrorMessage']
    })

    return {
      errorCode,
      errorMessage
    }
  }
}
</script>