<template>
  <div div class="max-w-4xl w-2/3 mx-auto sm:px-6 lg:px-8">
    <div class="mt-8 bg-white overflow-hidden shadow sm:rounded-lg p-6">
        <h2 class="text-2xl leading-7 font-semibold">
          Welcome
        </h2>
        <p class="mt-4 pt-4 text-gray-800 border-t border-dashed">
          Log in with your username and password
        </p>
        <form 
          @submit.prevent="userLogin"
          class="mt-8"
        >
          <div>
            <SharedFormLabel
              text="Login"
            />
            <SharedFormInputText
              v-model="login.email"
              :name="'email'"
              ref="email"
            />
          </div>
          <div>
            <SharedFormLabel
              text="Password"
            />
            <SharedFormInputText
              v-model="login.password"
              :type="'password'"
              :name="'password'"
              ref="password"
            />
            </div>
          <div>
            <SharedFormButton
              text="Log in"
              type="submit"
              :loading="isLoading"
            />
          </div>
        </form>
      </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      login: {
        email: '',
        password: '',
      },
      isLoading: false
    }
  },
  methods: {
    async userLogin() {
      if (this.isLoading) {
        return
      }
      this.isLoading = true

      try {
        let response = await this.$auth.loginWith('local', { data: this.login })
        if (response.status === 200) {
          // If rediect to login page from page that requires authentication (auth midleware), go to that page
          if (this.$auth.$state.redirect) this.$router.push(this.$auth.$state.redirect)
          else this.$auth.redirect('home') // Otherwise, go to home page
        }
      } catch (err) {
        
      }
      this.isLoading = false
    }
  }
}
</script>